<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Analytics-APIM-features-test-suite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="analytics-apim-tests" preserve-order="true" parallel="false" >
        <packages>
            <package name="org.wso2.analytics.apim.integration.tests.apim.analytics"/>
            <package name="org.wso2.analytics.apim.integration.tests.apim.loganalyzer"/>
            <package name="org.wso2.analytics.apim.integration.tests.apim.incrementalprocessing"/>
        </packages>
        <!-- <classes>
            <class name="org.wso2.analytics.apim.integration.tests.apim.analytics.AbnormalResponseAndBackendTimeTestCase"></class>
        </classes> -->
    </test>

</suite>
